{% extends "base.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/inputs.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="login">
  <hr>
  <h1>Entre com seus dados</h1>
  
  <form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="group">      
      {{ field }}
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>{{ field.label }}</label>
    </div>
    {% endfor %}
    
    {{ form.non_field_errors }}
    <button type="submit" class="btn-entrar">Entrar</button>
  </form>
  <a href="{% url 'signup' %}"><button type="submit" class="btn-registrar">Não tem uma conta?</button></a>
  <a href="{% url 'password_reset' %}" class="esqueceu-senha">Esqueceu senha?</a>
  <hr>
</div>
{% endblock %}

