{% extends "base.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="login">
  
  <h1>Entre com seus dados</h1>
  
  <form method="post">
    {% csrf_token %}
    <div class="group">      
      <input type="text" name="username" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Usuario</label>
    </div>

    <div class="group">      
      <input type="password" name="password" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Senha</label>
    </div>
    <button type="submit" class="btn-entrar">Entrar</button>
  </form>
  <a href="{% url 'signup' %}"><button type="submit" class="btn-registrar">Não tem uma conta?</button></a>
  <a href="{% url 'password_reset' %}" class="esqueceu-senha">Esqueceu senha?</a>
</div>
{% endblock %}

<a href="{% url 'signup' %}">Sign Up</a>
<a href="{% url 'password_reset' %}">Esqueceu senha?</a>