{% extends "base.html" %}
{% load static %}
{% block title %}Enter new password{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/inputs.css' %}">
<link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
{% if validlink %}
<div class="confirme-senha">
  <h1>Set a new password!</h1>
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="group">      
      {{ field }}
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>{{ field.label }}</label>
      <span>{{ field.errors }}</span>
    </div>
    {% endfor %}
    <input type="submit" class="change-my-password" value="Change my password">
  </form>

  {% else %}

  <p>O link de redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
</div>
{% endif %}
{% endblock %}