{% extends 'base.html' %}
{%load static%}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/inputs.css' %}">
<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
<div class="forget-password"> 
  <h1>Esqueceu sua senha?</h1>
  <p>Entre com seu e-mail abaixo, e enviaremos um e-mail com instruções para uma nova senha.</p>

  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="group">      
      {{ field }}
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>{{ field.label }}</label>
      <span>{{ field.errors }}</span>
    </div>
    {% endfor %}
    <button type="submit" value="Send me instructions!" class="btn-send-men">Envie-me instruções</button>
  </form>
</div>
{% endblock %}