.navbar-custom{
    background-color: rgb(178, 34, 34);
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: black;
}
#input-search{
    width: 500px;
}
body {
    font-family: 'Roboto-thin', sans-serif;
    src: url('{% static "fonts/Roboto-thin.ttf" %} format("truetype")');
}
