body{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: white;
    overflow-x: hidden;
}

.container-custom{
    margin: 0 230px;
}

@media (min-width: 900px){
    .container{
        max-width: 1100px;
    }
}
