.navbar-custom{
    background-color: rgb(178, 34, 34);

}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: black;
}
#input-search{
    width: 500px;
}
/* body {
    font-family: 'Roboto-thin', sans-serif;
    src: url('{% static "fonts/Roboto-thin.ttf" %} format("truetype")');
} */
body{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #E0E0E0;
}
.navbar-custom, navbar-brand{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.container-custom{
    margin: 0 80px;
}