
.mt-100{
   margin-top:100px;

}

.card {
    margin-bottom: 30px;
    border: solid 1px #e8e8e8;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}


.card .card-body {
    padding: 30px;
    background-color: transparent;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
    background-color: rgb(12, 127, 57) !important;
    border: 0;
    border-radius: 30px;
}
.btn-primary:hover{
    -webkit-box-shadow: 5px 5px 16px 1px rgba(0,0,0,0.19); 
    box-shadow: 5px 5px 16px 1px rgba(0,0,0,0.19);
    transition: all 0.2s ease-in-out 0s;
    background-color: rgb(3, 97, 52);
    color: white;
  }