.login{    
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 320px;
  margin:auto 55px;
}
h1 {
  text-transform: uppercase;
}
.group 			  { 
  position: relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 0px;
  display:block;
  width:320px;
  border:none;
  border-bottom:1px solid #999;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color: black;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:320px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:black; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
.btn-entrar{
  font-size: 12px;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  min-height: 3rem;
  min-width: 3rem;
  background-color: rgb(12, 137, 62);
  color: white;
}

.btn-entrar:hover{
  -webkit-box-shadow: 5px 5px 16px 1px rgba(0,0,0,0.19); 
  box-shadow: 5px 5px 16px 1px rgba(0,0,0,0.19);
  transition: background-color 200ms ease-in 0s;
  background-color: rgb(3, 97, 52);
}
.btn-registrar{
  width: 100%;
  font-size: 12px;
  margin-top: 8px;
  border: 2px solid  rgb(12, 137, 62);
  border-radius: 0.5rem;
  text-transform: uppercase;
  min-height: 3rem;
  min-width: 3rem;
  background-color: white;
  color:  rgb(12, 137, 62);
}

.btn-registrar:hover{
  -webkit-box-shadow: 5px 5px 16px 1px rgba(0,0,0,0.19); 
  box-shadow: 5px 5px 16px 1px rgba(0,0,0,0.19);
  transition: all 0.2s ease-in-out 0s;
  background-color: rgb(12, 137, 62);
  color: white;
}
.esqueceu-senha{
  display: block;
  margin-top: 15px;
  text-align: center;
}