h2{
    color: rgb(178, 34, 34)
}
h1{
    color: #565656;
}

img{
    display: block;
    margin: 0 auto;
}

.col{
    margin-top: 100px;
}

.p-nome-detalhes{
    font-weight: bold;
    font-size: 20px;
    /* display: inline; */
    margin-right: 10%;
    color: #565656;
}

.p-text-detalhes{
    color: #4f4f4f;
    text-align: justify;
}
.detalhes{
    display: flex;
    align-items: baseline;
    /* width: 50%; */
}
#link {
    text-decoration: none;
    color: white;
}