{% extends 'base.html' %}
{% load static %}
{% load carrinho %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/produto_detail.css' %}">

<div class="row">
    <div class="col">    
        {%if produto.image %}
            <img class="img-produto" src='/media/{{produto.image}}'>
        {% else%}
            <img class="img-produto" src="{% static '/img/not-found-product.jpg' %}">
        {%endif%}
    </div>
    <div class="col">
        <h1>{{ produto.name }}</h1>
        <hr>       
        <h2>R$ {{ produto.price|floatformat:2 }}</h2>
        <div class="detalhes">
            <p class="p-nome-detalhes">Descrição</p>
            <p class='p-text-detalhes'>{{produto.description}}</p>
        </div>
        <hr>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark" >Adicionar ao carrinho</button>
        </form>
    </div>
</div>
{% endblock %}
