{% extends 'base.html' %}
{% load static %}
{% load carrinho %}
{% load conversao_moeda %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/produto_detail.css' %}">

<div class="row">
    <div class="col">    
        {%if product.image %}
            <img class="img-produto" src='{{product.image.url}}'>
        {% else%}
            <img class="img-produto" src="{% static '/img/not-found-product.jpg' %}">
        {%endif%}
    </div>

    <div class="col" style="margin:auto;" align="left">
      <div style="width: 62%;">
        <h1 class="product-name">{{product.name}}</h1>
        <p class="product-description">{{product.description}}</p>
        <p class="product-price">{{product.price|conversao}}</p>
        <p>{{product.expiration_date}}</p>
        <p>{{product.supermarket}}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn-add-carrinho">Adicionar ao carrinho</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}
