{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content%}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<h1>Hello, {{ user.username|default:'Guest' }}</h1>

<div class="row">
        {% for product in products %}
        <div class="col-lg-3">
          <div class="card mb-4 border rounded">
            <a href="{{ product.get_absolute_url }}">
            {%if product.image %}
              <img class="img-produto" src='/media/{{product.image}}' class="card-img-top hover_img ">
            {% else%}
              <img class="img-produto" src="{% static '/img/not-found-product.jpg' %}" class="card-img-top hover_img">
            {%endif%}
            </a>
          
          <div class="card-body">
            <p class="card-title">{{product.name}}</p>
            <p class="card-text"><i class='fas fa-dollar-sign' style="margin-right:2px"></i>{{product.price}}</p>
          </div>
          
          </div>
        </div>

        {% endfor %}
</div>





{% if not user.is_authenticated %}
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock%}



    <!-- <div class="card" style="width: 18rem; display: inline-flex;">
      {%  if produto.image %}
        <img class="card-img-top" src='/media/{{produto.image}}' alt="">
      {% else %}
        <img class="img-produto" src="{% static '/img/not-found-product.jpg' %}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{produto.name}}</h5>
        <p class="card-text">{{produto.description}}nt.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>  -->
    <div class="div-produto">
      <a href="{{ produto.get_absolute_url }}">
      {%if produto.image %}
        <img class="img-produto" src='/media/{{produto.image}}'>
      {% else%}
        <img class="img-produto" src="{% static '/img/not-found-product.jpg' %}">
      {%endif%}</a>
      <div class="detalhe-produto">
        <a id="link" href="{{ produto.get_absolute_url }}"><p class="nome-produto">{{produto.name}}</p></a>
        <p class='descricao-produto'>{{produto.description}}</p>
        <p class="preco-produto">R$: {{produto.price|floatformat:2}}</p>
      
      </div>
    </div>