{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% load conversao_moeda %}
{% block content%}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="categoria">
  {% for categoria in categorias %}
  <a href="{{categoria.get_absolute_url}}"><div class="div-categoria"><p>{{categoria.name}}</p></div></a>
  {% endfor%}
</div>


<div class="row">
  {% for product in products %}
    {% if product.get_stock > 0 %}
      <div class="produto">
        <div class="produto-img-descric">
          <a href="{{product.get_absolute_url}}" class="produto-link">
            {%if product.image %}
              <img class="img-produto" src='{{product.image.url}}'>
            {% else%}
              <img class="img-produto" src="{% static '/img/not-found-product.jpg' %}">
            {%endif%}
          </a>
          

        </div>
        <div class="produto-body">
          <div class="descricao-produto">
            <p>{{product.name}}</p>
          </div>
          <div class="produto-prec">
            <div style="display: flex; justify-content: space-between;">
              <div>
                <p><strong>{{product.price|conversao}}</strong></p>
              </div>
              <p><strong>Un</strong></p>  
            </div>
            <div class="btn-add">
              <form method="post">
                {% csrf_token %}
                <input type="hidden" value="{{product.id}}" name="id">
                <button type="submit">Adicionar</button>
              </form>
            </div>
            <span class="countdown" style="display: none;">{{product.expiration_date|date:'Y-m-d'}}</span>
            <span class="show-countdown"></span>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>


<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
<script>
  
  var cores = ['#7d35ed', '#e93f3f', '#e4bf2a']
  var div_color = document.getElementsByClassName('div-categoria');
  for(var i= 0; i < div_color.length; i++){
    console.log(i)
    div_color[i].style.backgroundColor = cores[i]
  }

</script>

{% endblock%}