{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% load conversao_moeda %}
{% block content%}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<style>
 .categoria{
    margin: 2.5rem 0;

  }
  .div-categoria{
    display: inline-flex;
    height: 120px;
    width: 140px;
    border-radius: 10px;
    transition: transform .2s;
    margin-right: 20px;
    position: relative
 
  }
  .div-categoria:hover{
    transform: scale(1.10);
  }
  .categoria a{
    text-decoration: none;
    color: white;
  }
  .div-categoria p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 23px;
    text-align: center;
  }
</style>

<div class="categoria">
  {% for categoria in categorias %}
  <a href="{{categoria.get_absolute_url}}"><div class="div-categoria"><p>{{categoria.name}}</p></div></a>
  {% endfor%}
</div>


<div class="row">
  {% for product in products %}
  <div class="produto">
    <div class="produto-img-descric">
      <a href="{{product.get_absolute_url}}" class="produto-link">
        ola
      </a>
       

    </div>
    <div class="produto-body">
      <div class="descricao-produto">
        <p>{{product.name}}</p>
      </div>
      <div class="produto-prec">
        <div style="display: flex; justify-content: space-between;">
          <div>
            <p>{{product.price|conversao}}</p>
          </div>
          <p>Un</p>  
        </div>
        <div class="btn-add">
          <form method="post">
            {% csrf_token %}
            <input type="hidden" value="{{product.id}}" name="id">
            <button type="submit">Adicionar</button>
          </form>
        </div>
        <span class="countdown" style="display: none;">{{product.expiration_date|date:'Y-m-d'}}</span>
        <span class="show-countdown"></span>
      </div>
    </div>
  </div>
          
  {% endfor %}
</div>


<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
<script>
  var div_color = document.getElementsByClassName('div-categoria');
  console.log
  div_color[0].style.backgroundColor = '#7d35ed';
  div_color[1].style.backgroundColor = '#e93f3f';
  div_color[2].style.backgroundColor = '#e4bf2a';
  

</script>

{% endblock%}